/* html rules
--------------------*/


body{
	font-family: sans-serif;
	font-size: 1.4em;
	font-weight: bold;
}


/* id rules
--------------------*/
#character_sheet{
    width: 950px;
    height: auto;
	display: block;
}


/*MCC Sentinel Generator Version 3 post data css*/

#characterName{
    position:absolute;
    top: 100px;
    left: 55px;
	font-size: 0.8em;
}

#gender{
    position:absolute;
    top: 100px;
    left: 275px;
	font-size: 0.8em;
}


#lineage{
    position:absolute;
    top: 100px;
    left: 355px;
	font-size: 0.8em;
}


#alignment{
    position:absolute;
    top: 185px;
    left: 445px;
	font-size: 0.8em;
}

#title{
    position:absolute;
    top: 185px;
    left: 260px;
	font-size: 0.8em;
}


#playerName{
    position:absolute;
    top: 165px;
    left: 370px;
	font-size: 0.8em;
}


#armourName{
    position:absolute;
    top: 501px;
    left: 525px;
    font-size: 0.8em;
}

#armourReduction{
    position:absolute;
    top: 522px;
    left: 550px;
    font-size: 0.8em;
}

#armourWeight{
    position:absolute;
    top: 522px;
    left: 635px;
    font-size: 0.8em;
}

#weaponsList{
    position:absolute;
    top: 900px;
    left: 365px;
	font-size: 0.65em;
}

#weaponsList2{
    position:absolute;
    top: 900px;
    left: 585px;
	font-size: 0.65em;
}



#totalArmourClassMod{
    position:absolute;
    top: 855px;
    left: 850px;
	font-size: 0.8em;
}

#totalArmourWeight{
    position:absolute;
    top: 820px;
    left: 305px;
	font-size: 0.5em;
}

#gearWeight{
    position:absolute;
    top: 832px;
    left: 485px;
	font-size: 0.5em;
}



#weaponNotes{
    position:absolute;
    top: 1143px;
    left: 610px;
	font-size: 0.4em;
}


#gearList{
    position:absolute;
    top: 1015px;
    left: 50px;
    font-size: 0.6em;
    width: 250px;
}

#abilityScoreGeneration{
    position:absolute;
    top: 1145px;
    left: 685px;
    font-size: 0.5em;
    width: 225px;
}



#luckyWeapon{
    position:absolute;
    top: 650px;
    left: 450px;
	font-size: 1em;
}


#baseAC{
    position:absolute;
    top: 320px;
    left: 230px;
	font-size: 1.4em;
}


#trainedWeapon{
    position:absolute;
    top: 1085px;
    left: 450px;
	font-size: 0.6em;
}


#tradeGoods{
    position:absolute;
    top: 1105px;
    left: 450px;
	font-size: 0.6em;
}



#level{
    position:absolute;
    top: 165px;
    left: 80px;
	font-size: 0.8em;
}



#might{
    position:absolute;
    top: 415px;
    left: 240px;
	font-size: 1.3em;
}


#mightMod{
    position:absolute;
    top: 415px;
    left: 305px;
	font-size: 1.3em;
}


#finesse{
    position:absolute;
    top: 455px;
    left: 240px;
	font-size: 1.3em;
}

#finesseMod{
    position:absolute;
    top: 455px;
    left: 305px;
	font-size: 1.3em;
}

#resolve{
    position:absolute;
    top: 495px;
    left: 240px;
	font-size: 1.3em;
}

#resolveMod{
    position:absolute;
    top: 495px;
    left: 305px;
	font-size: 1.3em;
}


#insight{
    position:absolute;
    top: 535px;
    left: 240px;
	font-size: 1.3em;
}

#insightMod{
    position:absolute;
    top: 535px;
    left: 305px;
	font-size: 1.3em;
}


#bearing{
    position:absolute;
    top: 575px;
    left: 240px;
	font-size: 1.3em;
}

#bearingMod{
    position:absolute;
    top: 575px;
    left: 305px;
	font-size: 1.3em;
}

#weal{
    position:absolute;
    top: 615px;
    left: 240px;
	font-size: 1.3em;
}


#wealMod{
    position:absolute;
    top: 615px;
    left: 305px;
	font-size: 1.3em;
}


#class{
    position:absolute;
    top: 165px;
    left: 145px;
	font-size: 0.8em;
}


#speed{
    position:absolute;
    top: 395px;
    left: 813px;
    font-size: 1.1em;
    color: white;
}


#profession{
    position:absolute;
    top: 100px;
    left: 490px;
	font-size: 0.8em;
}

#xpNextLevel{
    position:absolute;
    top: 210px;
    left: 580px;
	font-size: 0.8em;
}


#armourClass{
    position:absolute;
    top: 320px;
    left: 170px;
	font-size: 1.4em;
}

#armourACBonus{
    position:absolute;
    top: 845px;
    left: 435px;
	font-size: 0.8em;
}


#fumbleDie{
    position:absolute;
    top: 845px;
    left: 570px;
	font-size: 0.8em;
}

#endurance{
    position:absolute;
    top: 290px;
    left: 355px;
	font-size: 1.1em;
}


#attackBonus{
    position:absolute;
    top: 338px;
    left: 370px;
	font-size: 1.1em;
}

#saveThrow{
    position:absolute;
    top: 325px;
    left: 160px;
	font-size: 1.2em;
}


#reduction{
    position:absolute;
    top: 325px;
    left: 110px;
	font-size: 1.2em;
}


#melee{
    position:absolute;
    top: 250px;
    left: 515px;
	font-size: 1.2em;
}


#range{
    position:absolute;
    top: 292px;
    left: 515px;
	font-size: 1.2em;
}



#meleeDamage{
    position:absolute;
    top: 250px;
    left: 600px;
	font-size: 1.2em;
}


#rangeDamage{
    position:absolute;
    top: 292px;
    left: 600px;
	font-size: 1.2em;
}

